run = "node server-start.js"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server-start.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[env]
PORT = "3000"
NODE_ENV = "development"

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 5173 